body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

h1 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 65px;
}

h2 {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-weight: bold;
}

#project-title {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-color: #F2FFE3;
  font-size: 45px;
}

p {
  font-family: 'Vollkorn', Georgia, Times, serif;
  font-size: 16px;
  line-height: 25px
}

/* navbar */

.navbar-custom {
  background-color: #225378;
  border-color: #F2FFE3;
  border-radius: 0px;
  color: #acf0f2;
}

.navbar-custom .navbar-nav > li > a {
  color: #ACF0F2;
  background-color: #225378;
}

.navbar-custom > li > a:hover {
  background-color: #225378;
}

.navbar-custom .navbar-nav > .active > a {
  color: #F2FFE3;
  background-color: #225378;
}

.navbar-custom .navbar-brand {
  color: #acf0f2;
  background-color: #225378;
}

/* position container around navbar */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* change padding for smaller screen view */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  color: #acf0f2;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/* large image at top of page */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

/* Three Columns below large image */

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  /* Navbar positioning */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* change size of text on top of header picture */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

/* footer */

.footer {
  position: absolute;
  margin: 10px 0px 0px 0px;
  width: 100%;
  height: 60px;
  font-size: 90%;
  font-weight: medium;
  text-align: center;
}
